@font-face {
  font-family: "shrikhand";
  src: url(polices/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(polices/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto-black";
  src: url(polices/Roboto/Roboto-Black.ttf);
}
body {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  font-family: "shrikhand";
}
.header .lienHeader {
  text-decoration: none;
  color: #000;
}

.containerRecherche {
  width: 100%;
  height: 60px;
  margin-top: -10px;
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 10px -5px rgba(78, 75, 75, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerRecherche .fa-location-dot {
  z-index: 1;
  margin-right: 3px;
  font-size: 1.2em;
  margin-top: -5px;
}
.containerRecherche .searchInput {
  width: 170px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: #eaeaea;
  font-family: "roboto";
}

.containerExplorer {
  margin-top: -20px;
  background-color: #f6f6f6;
  font-family: "roboto";
  text-align: center;
}
.containerExplorer .titreExplorer {
  padding-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "roboto-black";
  font-weight: 100;
}
.containerExplorer .paragrapheExplorer {
  margin-top: -5px;
  margin-left: 10px;
  margin-right: 10px;
}

.btnExplorer {
  margin-top: 40px;
  padding-bottom: 60px;
}
.btnExplorer .lienExplorer {
  border-radius: 20px 20px 20px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  text-decoration: none;
  padding: 13px;
  font-weight: 800;
  font-size: 0.9em;
  transition: 0.1s ease-in-out;
}
.btnExplorer .lienExplorer:hover {
  box-shadow: 0px 5px 10px #b4b2b8;
  opacity: 0.9;
}

.containerFonctionnement {
  text-align: center;
  margin-top: 40px;
}
.containerFonctionnement .titreFonctionnement {
  text-align: start;
  margin-left: 20px;
  font-family: "roboto-black";
  font-weight: 100;
  font-size: 1.3em;
}
@media screen and (min-width: 628px) {
  .containerFonctionnement .titreFonctionnement {
    text-align: center;
    margin-left: 0;
  }
}

.blocFonctionnement {
  width: 100%;
  margin: auto;
  margin-top: -10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.btnFonctionnement {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 20px;
}
.btnFonctionnement .nombre {
  border-radius: 20px;
  margin-right: -8px;
  line-height: 20px;
  width: 20px;
  padding: 1px;
  background-color: #9356DC;
  z-index: 1;
  color: #FFF;
  font-family: "roboto";
  font-size: 0.8em;
}

.btnCliquable {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  background-color: #f6f6f6;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 3px 5px 10px #b4b2b8;
  width: 300px;
  line-height: 70px;
  font-family: "roboto";
  font-weight: 700;
  cursor: pointer;
}
.btnCliquable:hover {
  background-color: rgba(147, 86, 220, 0.1);
  color: #9356DC;
}

.lienFonctionnement {
  text-decoration: none;
  color: #000;
  font-size: 0.9em;
  margin-right: 30px;
}

/*# sourceMappingURL=style.css.map */
